html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
}

body {
  background-color: #fadde1;
}

/* cdb4db (purpleish color); ffc8dd (light pink); ffafcc (dark pink); bde0fe (light blue); a2d2ff (dark blue); f5ebe0 (off-white)*/
.rows {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .rows {
    flex-direction: column;
  }
  .card {
    width: 40rem;
  }
}

.head {
  padding: 5rem;
  width: 100vw;
  background-color: #ffffff;
  display: inline-block;
  padding: 2rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.head:hover {
  animation: background-color 4s;
}
@keyframes background-color {
  0% {
    background-color: white;
  }

  100% {
    background-color: #fadde1;
  }
}

#heading {
  text-align: center;
  font-size: 10rem;
  color: #ff5d8f;
  font-family: "Paytone One", sans-serif;
}

#subheading {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 2.5rem;
  font-family: "Crimson Pro", serif;
  font-style: italic;
}
.card {
  background-color: #ffffff;
  width: 40rem;
  height: 40rem;
  margin-top: 12rem;
  margin-bottom: 12rem;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 #6e6e6e;
  transition: all 0.2s;
  outline-offset: 3px;
}

.card:hover {
  transform: scale(1.1);
  outline: 4px solid #ff5d8f;
}

.whole:hover .card:not(:hover) {
  opacity: 0.3;
}

.name {
  font-size: 2rem;
  font-family: "Crimson Pro", serif;
  font-style: italic;
  color: #ff5d8f;
  text-align: center;
  padding-top: 4rem;
}

.img {
  overflow: hidden;
  width: 40rem;
  height: 40rem;
  border-radius: 5%;
}
